TIMEZONE=Asia/Jakarta
TZ_LABEL=WIB

AUTH_DIR=./auth_info
DATA_DIR=./data
MEDIA_DIR=./media
BACKUP_DIR=./backups
LOG_DIR=./logs

BACKUP_INTERVAL_MINUTES=30
MAX_BACKUP_FILES=20

COMMAND_PREFIX=.

USE_PAIRING_CODE=true
PAIRING_NUMBER=6289529693992
